body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.page_body {
  width: 100%;
  height: 90vh;
  overflow: scroll;
}

.base_link {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  text-decoration: none;
}

.base_info {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  text-decoration: none;
}

.all_products {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(225,225,225);
}

.product {
  width: 25%;
  height: 300px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(255,255,255);
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.product > div {
  margin: 5px;
}

.p_name {
  width: 100%;
  font-size: 110%;
}

.p_image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_image > img {
  width: 80%;
  height: 80%;
}

.p_desc {
  width: 80%;
  font-size: 75%;
  align-self: flex-end;
}

.p_price {
  align-self: flex-end;
}

.single_product {
  width: 100%;
  height: 300px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(255,255,255);
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.single_product > .p_name {
  font-size: 200%;
  width: 80%;
  margin: 0 10%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(200,200,200)
}

.single_product > .p_desc {
  font-size: 150%;
  width: auto;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  background-color: lightblue;
}

.single_product > .p_price {
  font-size: 150%;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  background-color: lightblue;
}

.p_tags {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(200,200,200);
}

.tag {
  padding: 10px;
  border-radius: 5px;
  background-color: lightblue;
  margin: 10px;
}

.add_to_cart {
  font-size: 150%;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  background-color: lightblue;
}
